<div class="text-lg mb-4 flex items-center">
  <div>Employees</div>
  <div class="ml-auto">
    <button mat-raised-button color="primary" (click)="addEmployeeHandler()">Add Employee</button>
  </div>
</div>

<table mat-table [dataSource]="props.data" class="mat-elevation-z1">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.employee_name }} </td>
  </ng-container>

  <!-- Roles Column -->
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> Roles </th>
    <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.is_super_admin else roles">
        <mat-chip class="text-fsxs">Super Admin</mat-chip>
      </div>
      <ng-template #roles>
        <mat-chip-listbox>
          <ng-container *ngFor="let role of element.roles">
            <mat-chip class="text-fsxs">{{ role }}</mat-chip>
          </ng-container>
        </mat-chip-listbox>
      </ng-template>
	  </td>
  </ng-container>

  <!-- Join Date -->
  <ng-container matColumnDef="create_at">
    <th mat-header-cell *matHeaderCellDef> Join Date </th>
    <td mat-cell *matCellDef="let element"> {{ element.create_at | date: 'd LLL YYYY' }} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="!text-center w-28"> Action </th>
    <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.is_super_admin else actions" class="w-28">
        <div class="text-center leading-4">
          No action allowed
        </div>
      </div>

      <ng-template #actions>
        <div class="flex justify-center gap-3">
          <button mat-icon-button color="warn" (click)="deleteHandler(element.id)" matTooltip="Delete">
            <mat-icon>delete_forever</mat-icon>
          </button>

          <button mat-icon-button (click)="editHandler(element)" matTooltip="Update">
            <mat-icon>edit_note</mat-icon>
          </button>
        </div>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>