<form [formGroup]="formGroup" (ngSubmit)="submitHandler()">
	<mat-form-field appearance="outline" class="w-full">
		<mat-label>User</mat-label>
		<mat-select formControlName="user">
			<ng-container *ngIf="users$ | async as users">
				<mat-option *ngFor="let user of users.data?.results" [value]="user.id">{{ user.full_name }}</mat-option>
			</ng-container>
		</mat-select>
	</mat-form-field>

	<ng-container *ngIf="groups$ | async as groups">
		<ng-container *ngIf="groups.status === 'loaded'">
			<mat-form-field appearance="outline" class="w-full">
				<mat-label>Roles</mat-label>
				<mat-select formControlName="roles" [compareWith]="compareFn" multiple>
					<ng-container *ngIf="groups$ | async as groups">
						<mat-option *ngFor="let group of groups.data?.results" [value]="group">{{ group.name }}</mat-option>
					</ng-container>
				</mat-select>
			</mat-form-field>
		</ng-container>
	</ng-container>

	<button type="submit" mat-raised-button color="primary">Submit</button>
</form>