<ng-container *ngIf="company$ | async as company">
	<ng-container *ngIf="company.status === 'loaded'">
		<tracker-company-detail [props]="{'data': company.data}"></tracker-company-detail>

		<section class="mt-5">
			<tracker-employee-list [props]="{'company': company.data, 'data': company.data.employees, 'pid': pid}"></tracker-employee-list>
		</section>

		<section class="mt-10">
			<tracker-asset-list [props]="{'company': company.data, 'data': company.data.assets, 'pid': pid}"></tracker-asset-list>
		</section>
	</ng-container>
</ng-container>